body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #999698;
  padding: 5px;
  text-align: center;
  font-size: 15px;

}

nav {
  background-color:var(--baackground-color);
  color: var(--background-color);
  padding: 0.5em 0;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: rgba(243, 5, 5, 0.1);
}

nav li {
  margin: 0 15px;
 padding: 0.5em 0;
}

nav li {
  margin-right: 15px; 
 
}

nav a {
  color: var(--background-color);
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

div {
text-align: center;
}

div li {
text-align: left;
}



/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

 section, aside, div, article, footer, nav, header{
   flex: 1;
  margin: 0 1em;
  padding: 1em;
  border: 1px solid var(--border-color);
  background-color: transparent;
  border-radius: 4px;
}

section,aside, div, article, footer, nav, header{
  margin: 2em 2em;
  padding: 1em 1em;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(243, 5, 5, 0.1);
  background-color: var(--background-color);
  box-sizing: border-box;
}


footer {
  
  padding: 15px;

  text-align: left;
  color: Black;
}
h1 {
  font-size: larger;
}

h2 {
  font-size: large;
}

h3 {
  font-size: large;
}
h5 {
  font-size: medium;
}

h6 {
  font-size: medium;
}


/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }

  
}